.button{
    border-radius: 5%;
    background: rgb(255,255,255);
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 15%;
  }
  
.thumbnail {
    height: auto;
    width: 100%
}
.icon-select{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{ 
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s;
    
}